<h2><%= title %></h2>
<dl>
  <dt>Cameras:</dt>
  <dd>
    <ul>
      <% data[:cameras].each do |camera| %>
        <li><%= camera %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Lenses:</dt>
  <dd>
    <ul>
      <% data[:lenses].each do |lens| %>
        <li><%= lens %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Camera Lens Combinations:</dt>
  <dd>
    <ul>
      <% data[:camera_lens_combinations].each do |combination| %>
        <li><%= combination %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Focal Lengths:</dt>
  <dd>
    <ul>
      <% data[:focal_lengths].each do |focal_length| %>
        <li><%= focal_length %>mm</li>
      <% end %>
    </ul>
  </dd>

  <dt>Isos:</dt>
  <dd>
    <ul>
      <% data[:isos].each do |iso| %>
        <li><%= iso %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Shutter Speeds:</dt>
  <dd>
    <ul>
      <% data[:shutter_speeds].each do |shutter_speed| %>
        <li>1/<%= shutter_speed %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Months:</dt>
  <dd>
    <ul>
      <% data[:months].each do |month| %>
        <li><%= month %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Years:</dt>
  <dd>
    <ul>
      <% data[:years].each do |year| %>
        <li><%= year %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Month Year Combinations:</dt>
  <dd>
    <ul>
      <% data[:month_year_combinations].each do |combination| %>
        <li><%= combination %></li>
      <% end %>
    </ul>
  </dd>
</dl>