<h2><%= title %></h2>
<dl>
  <%= render partial: 'data_list', locals: { heading: 'Cameras', data: data[:cameras] } %>

  <%= render partial: 'data_list', locals: { heading: 'Lenses', data: data[:lenses] } %>

  <%= render partial: 'data_list', locals: { heading: 'Camera Lens Combinations', data: data[:camera_lens_combinations] } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Focal Lengths', data: data[:focal_lengths], item_prefix: nil, item_suffix: 'mm' } %>

  <%= render partial: 'data_list', locals: { heading: 'Isos', data: data[:isos] } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Shutter Speeds', data: data[:shutter_speeds], item_prefix: '1/', item_suffix: nil } %>

  <%= render partial: 'data_list', locals: { heading: 'Months', data: data[:months] } %>

  <%= render partial: 'data_list', locals: { heading: 'Years', data: data[:years] } %>

  <%= render partial: 'data_list', locals: { heading: 'Month Year Combinations', data: data[:month_year_combinations] } %>
</dl>