<h1>Analysis by Camera and Lens</h1>

<h2><%= @data_by_camera_and_lens[:camera] %> with <%= @data_by_camera_and_lens[:lens] %> (<%= @data_by_camera_and_lens[:years_covered] %>)</h2>

<dl>
  <%= render partial: 'data_list', locals: { heading: 'Keywords', data: @data_by_camera_and_lens[:keywords] } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Focal Lengths', data: @data_by_camera_and_lens[:focal_lengths], item_prefix: nil, item_suffix: 'mm' } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Shutter Speeds', data: @data_by_camera_and_lens[:shutter_speeds], item_prefix: nil, item_suffix: 's' } %>

  <%= render partial: 'data_list', locals: { heading: 'Isos', data: @data_by_camera_and_lens[:isos] } %>

  <%= render partial: 'ratings_by_equipment', locals: { data: @data_by_camera_and_lens[:ratings] } %>

  <%= render partial: 'data_list', locals: { heading: 'Months', data: @data_by_camera_and_lens[:months] } %>
</dl>