<h1>Analysis by Camera</h1>

<h2><%= @data_by_camera[:camera] %> (<%= @data_by_camera[:years_covered] %>)</h2>

<dl>
  <%= render partial: 'data_list', locals: { heading: 'Keywords', data: @data_by_camera[:keywords] } %>

  <%= render partial: 'data_list', locals: { heading: 'Lenses', data: @data_by_camera[:lenses] } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Focal Lengths', data: @data_by_camera[:focal_lengths], item_prefix: nil, item_suffix: 'mm' } %>

  <%= render partial: 'data_list_with_prefix_and_suffix', locals: { heading: 'Shutter Speeds', data: @data_by_camera[:shutter_speeds], item_prefix: '1/', item_suffix: nil } %>

  <%= render partial: 'data_list', locals: { heading: 'Isos', data: @data_by_camera[:isos] } %>

  <%= render partial: 'ratings_by_equipment', locals: { data: @data_by_camera[:ratings] } %>

  <%= render partial: 'data_list', locals: { heading: 'Months', data: @data_by_camera[:months] } %>

  <%= render partial: 'data_list', locals: { heading: 'Years', data: @data_by_camera[:years] } %>

  <%= render partial: 'data_list', locals: { heading: 'Month Year Combinations', data: @data_by_camera[:month_year_combinations] } %>
</dl>