<h1>Analysis by Camera</h1>

<h2><%= @data_by_camera[:camera] %></h2>
<dl>
  <dt>Keywords:</dt>
  <dd>
    <ul>
      <% @data_by_camera[:keywords].each do |keyword| %>
        <li><%= keyword %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Focal Lengths:</dt>
  <dd>
    <ul>
      <% @data_by_camera[:focal_lengths].each do |focal_length| %>
        <li><%= focal_length %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Shutter Speeds:</dt>
  <dd>
    <ul>
      <% @data_by_camera[:shutter_speeds].each do |shutter_speed| %>
        <li><%= shutter_speed %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Isos:</dt>
  <dd>
    <ul>
      <% @data_by_camera[:isos].each do |iso| %>
        <li><%= iso %></li>
      <% end %>
    </ul>
  </dd>
</dl>