<h1>Lightroom Classic Analysis</h1>
<p>Lightroom Classic catalog with <%= @image_count %> images.</p>

<h2>Most Popular</h2>
<dl>
  <dt>Camera:</dt>
  <dd><%= @most_popular_data[:camera] %></dd>

  <dt>Lens:</dt>
  <dd><%= @most_popular_data[:lens] %></dd>

  <dt>Camera and Lens:</dt>
  <dd><%= @most_popular_data[:camera_lens_combination] %></dd>

  <dt>Focal Length:</dt>
  <dd><%= @most_popular_data[:focal_length] %>mm</dd>

  <dt>Iso:</dt>
  <dd><%= @most_popular_data[:iso] %></dd>

  <dt>Shutter Speed:</dt>
  <dd>1/<%= @most_popular_data[:shutter_speed] %></dd>

  <dt>Month:</dt>
  <dd><%= @most_popular_data[:month] %></dd>

  <dt>Year:</dt>
  <dd><%= @most_popular_data[:year] %></dd>

  <dt>Month Year Combination:</dt>
  <dd><%= @most_popular_data[:month_year_combination] %></dd>
</dl>

<%= render partial: 'data_from_exif', locals: { title: 'Wildlife Data', data: @wildlife_data } %>

<%= render partial: 'data_from_exif', locals: { title: 'Wide Angle Landscape Data', data: @landscape_data } %>

<%= render partial: 'data_from_exif', locals: { title: 'Macro Data', data: @macro_data } %>

<%= render partial: 'keyword_data' %>

<h2>Data By Camera</h2>
<%= form_with url: by_camera_path, local: true do |f| %>
  <%= f.select(:camera_name, cameras_for_select, { include_blank: true }) %>
  <%= f.select(:year, years_for_select, { include_blank: 'All years' }) %>
  <%= f.submit 'Go' %>
<% end %>

<h2>Data By Lens</h2>
<%= form_with url: by_lens_path, local: true do |f| %>
  <%= f.select(:lens_name, lenses_for_select, { include_blank: true }) %>
  <%= f.select(:year, years_for_select, { include_blank: 'All years' }) %>
  <%= f.submit 'Go' %>
<% end %>
