<h1>Lightroom Classic Analysis</h1>
<p>Lightroom Classic catalog with <%= @image_count %> images.</p>

<%= render partial: 'navigation' %>

<div class="most-popular content-section">
  <h2>Most Popular</h2>
  <dl>
    <dt>Camera:</dt>
    <dd><%= @most_popular_data[:camera] %></dd>

    <dt>Lens:</dt>
    <dd><%= @most_popular_data[:lens] %></dd>

    <dt>Camera and Lens:</dt>
    <dd><%= @most_popular_data[:camera_lens_combination] %></dd>

    <dt>Focal Length:</dt>
    <dd><%= @most_popular_data[:focal_length] %>mm</dd>

    <dt>Iso:</dt>
    <dd><%= @most_popular_data[:iso] %></dd>

    <dt>Shutter Speed:</dt>
    <dd>1/<%= @most_popular_data[:shutter_speed] %></dd>

    <dt>Month:</dt>
    <dd><%= @most_popular_data[:month] %></dd>

    <dt>Year:</dt>
    <dd><%= @most_popular_data[:year] %></dd>

    <dt>Month Year Combination:</dt>
    <dd><%= @most_popular_data[:month_year_combination] %></dd>
  </dl>
</div>

<div class="capture-time content-section">
  <%= render partial: 'capture_time_data' %>
</div>

<div class="wildlife-data content-section">
  <%= render partial: 'data_from_exif', locals: { title: 'Wildlife Data', data: @wildlife_data } %>
</div>

<div class="landscape-data content-section">
  <%= render partial: 'data_from_exif', locals: { title: 'Wide Angle Landscape Data', data: @landscape_data } %>
</div>

<div class="macro-data content-section">
  <%= render partial: 'data_from_exif', locals: { title: 'Macro Data', data: @macro_data } %>
</div>

<div class="keywords content-section">
  <%= render partial: 'keyword_data' %>
</div>

<div class="ratings content-section">
  <%= render partial: 'ratings_data' %>
</div>

<div class="develop-settings content-section">
  <%= render partial: 'develop_setting_data' %>
</div>

<div class="data-by-camera-forms content-section">
  <h2>Data By Camera</h2>
  <%= form_with url: by_camera_path, local: true do |f| %>
    <%= f.select(:camera_name, cameras_for_select, { include_blank: '--Select Camera--' }) %>
    <%= f.select(:year, years_for_select, { include_blank: 'All years' }) %>
    <%= f.submit 'Go' %>
  <% end %>

  <h2>Data By Lens</h2>
  <%= form_with url: by_lens_path, local: true do |f| %>
    <%= f.select(:lens_name, lenses_for_select, { include_blank: '--Select Lens--' }) %>
    <%= f.select(:year, years_for_select, { include_blank: 'All years' }) %>
    <%= f.submit 'Go' %>
  <% end %>

  <h2>Data By Camera And Lens</h2>
  <%= form_with url: by_camera_and_lens_path, local: true do |f| %>
    <%= f.select(:camera_name, cameras_for_select, { include_blank: '--Select Camera--' }) %>
    <%= f.select(:lens_name, lenses_for_select, { include_blank: '--Select Lens--'}) %>
    <%= f.select(:year, years_for_select, { include_blank: 'All years' }) %>
    <%= f.submit 'Go' %>
  <% end %>
</div>
