<div class="menu">
  <ul>
    <li><%= link_to 'Most Popular', dashboard_path %></li>
    <li><%= link_to 'Health Check', health_check_data_path %></li>
    <li><%= link_to 'Collection Data', collections_data_path %></li>
    <li><%= link_to 'Capture Time Data', capture_time_data_path %></li>
    <li><%= link_to 'Wildlife Data', wildlife_data_path %></li>
    <li><%= link_to 'Landscape Data', landscape_data_path %></li>
    <li><%= link_to 'Macro Data', macro_data_path %></li>
    <li><%= link_to 'Astro Data', astro_data_path %></li>
    <li><%= link_to 'Keywords', keyword_data_path %></li>
    <li><%= link_to 'Ratings', ratings_data_path %></li>
    <li><%= link_to 'Develop Settings', develop_settings_data_path %></li>
    <li><%= link_to 'By Camera or Lens', equipment_form_path %></li>
  </ul>
</div>