<div class="keywords content-section">
  <h2>Keyword Data</h2>

  <dl>
    <%= render partial: 'shared/data_list', locals: { heading: 'Most frequent keywords', data: @keyword_data[:most_frequent_keywords] } %>

    <%= render partial: 'shared/data_list', locals: { heading: 'Most frequent wildlife keywords', data: @keyword_data[:most_frequent_wildlife_keywords] } %>

    <%= render partial: 'shared/data_list', locals: { heading: 'Most frequent landscape keywords', data: @keyword_data[:most_frequent_landscape_keywords] } %>

    <%= render partial: 'shared/data_list', locals: { heading: 'Most frequent macro keywords', data: @keyword_data[:most_frequent_macro_keywords] } %>

    <%= render partial: 'shared/data_list', locals: { heading: 'Most frequent astro keywords', data: @keyword_data[:most_frequent_astro_keywords] } %>
  </dl>
</div>